*~
*.d
*.o
*.lo
*.a
*.so
*.so.*
*.out
*.pyc
*.kate-swp
core

*.old
old-*
tmp*
backup*
trash

build
data

bin
msg_gen
srv_gen
src/pr2_lfd_trick
src/lfd_trick
scripts/motions/_default.py
scripts/motions/_exit.py

logIK.pickle
.trick_hist*
